<section class='p-4 bg-light'>
  <h1 class='text-secondary text-center text-success'>REGISTRO REALIZADO CON ÉXITO!</h1>
  <div class='mb-3'>
    <div>
      <label class='form-label fw-bold text-secondary fs-3' for='login'>Datos:</label>
      <div>
        usuario:
        {{user.username}}
        <br />
        Nombre:
        {{user.name}}
        <br />
        Direccion:
        {{user.address}}
        <br />
        Edad:
        {{user.age}}
        <br />
        Telefono:
        {{user.phone}}
        <br />
        Imagen:
        {{user.url}}
      </div>
    </div>
  </div>
</section>